#container { margin: 0 15px; }
#container h2 { margin: 8px 0; }
#container table {
    width: 400px;
    border-collapse: collapse;
}
#container table td {
    padding: 7px 10px 7px 25px;
    width: 70%;
}
#container table td:first-child {
    width: 30%;
}
#container table td input {
    padding: 6px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}
#container table td.submit-row {
    padding: 15px 10px 15px 25px;
}
#container table td input.submit {
    background: #22313F;
    width: 50%;
    border-radius: 5px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}
#container table td a, #container table td a:visited  {
    color: #000;
}
